<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="cn" connectionString="Data Source = DESKTOP-H7HR5EA;
			 Initial Catalog = Supplement Sportive Company; 
			 Integrated Security = true;"/>
	</connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	
	<!--<appSettings>
		<add key="select" value="Select * from CUSTOMER"/>
		<add key="TableName" value="CUSTOMER"/>
		<add key="PrimaryKeyName" value="CID"/>

		<add key="select_sub" value="Select * from ORDER_"/>
		<add key="TableName_sub" value="ORDER_"/>
		<add key="ForeignKeyName" value="CID"/>
		<add key="PrimaryKeyName_sub" value="OID"/>
	</appSettings>-->
	
	<appSettings>
		<add key="select" value="Select * from DEPARTMENT"/>
		<add key="TableName" value="DEPARTMENT"/>
		<add key="PrimaryKeyName" value="DID"/>

		<add key="select_sub" value="Select * from FACTORY"/>
		<add key="TableName_sub" value="FACTORY"/>
		<add key="ForeignKeyName" value="DID"/>
		<add key="PrimaryKeyName_sub" value="FID"/>
	</appSettings>
</configuration>
